.nav {
  width: 100%;
  padding: 10px 3%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 12px;
  color: #e5e5e5;
  background-image: linear-gradient(180deg, rbga(0, 0, 0, 0.7)10%, transparent);
  z-index: 1;
  top: 0
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-left img {
  width: 90px;
}

.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-left ul li {
  cursor: pointer;
}

.navbar-left ul li a {
  color: #e5e5e5;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}

.navbar-right .profile {
  border-radius: 4px;
  width: 35px;
}

.navbar-profile {
  display: inline-block;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.navbar-profile img {
  width: 30px;
  border-radius: 3px;
  cursor: pointer;
}

.navbar-profile .dropdown-button {
  transform: rotate(90deg);
}

.navbar-profile:hover .dropdown-button {
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.navbar-profile .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  padding: 18px 22px;
  border-radius: 2px;
  text-decoration: underline;
  z-index: 1000;
  display: none;
}

.navbar-profile .dropdown-menu p {
  font-size: 13px;
  cursor: pointer;
}

.navbar-profile:hover .dropdown-menu {
  display: block;
}

.nav.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.5s ease;
}

.navbar__links {
  display: flex;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.navbar__hamburger {
  display: none; 
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.navbar__hamburger span {
  width: 100%;
  height: 4px;
  background-color: rgb(205, 205, 205);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.navbar__hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar__hamburger.active span:nth-child(2) {
  opacity: 0;
}

.navbar__hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
  .navbar__hamburger {
    display: flex;
  }
  
  .navbar__links {
    display: flex;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #141414;
    width: 100%;
    height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  }
  
  .navbar__links.active {
    transform: translateX(0); 
    opacity: 1;
    visibility: visible;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s linear 0s;
  }
}
@media (max-width: 844px) {
  .navbar__links{
    font-size: .6rem;
  }
}