.row {
  margin-left: 20px;
  margin-top: 20px;
}
.row h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.row-posters {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 20px 0;
  gap: 10px;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.content {
  position: relative;
  flex-shrink: 0;
  width: 150px;
  height: 225px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.row-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.row-poster:hover {
  transform: scale(1.08);
}

@media (max-width: 768px) {
  .row-posters {
    gap: 5px;
  }

  .content {
    width: 120px;
    height: 180px;
  }
}
